@import 'tailwindcss';
@import './font/iranSans.css';
@import './font/clock.css';
body {
  user-select: none;
  overflow: hidden;
  font-smooth: 3em;
}
.drag-area {
  width: 100%;
  height: 100%;
  cursor: grabbing;
  background-color: #ffffff10;
  -webkit-app-region: drag;
}
