@font-face {
  font-family: 'BigShouldersStencil';
  src: url('./clockFont/BigShouldersStencil.woff');
}
.clock {
  font-family: 'BigShouldersStencil';
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
}
